gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Ignore Android manifest
android/app/src/main/AndroidManifest.xml

# Ignore iOS AppDelegate and Info.plist
ios/Runner/AppDelegate.swift
ios/Runner/Info.plist
